In [16]:
import pandas as pd
import numpy as np

In [18]:
data=pd.read_csv("CompleteResponses.csv")

In [22]:
data.head()

,salary,age,elevel,car,zipcode,credit,brand
0,119806.54480,45,Less than High School Degree,14,4,442037.71130,0
1,106880.47840,63,High School Degree,11,6,45007.17883,1
2,78020.75094,23,Less than High School Degree,15,2,48795.32279,0
3,63689.93635,51,4-Year College Degree,6,5,40888.87736,1
4,50873.61880,20,4-Year College Degree,14,4,352951.49770,0

In [20]:
data.elevel = data.elevel.replace({
    0: 'Less than High School Degree',
    1: 'High School Degree',
    2: 'Some College',
    3: '4-Year College Degree',
    4: 'Master\'s, Doctoral or Professional Degree'
})

In [23]:
data.car = data.car.replace({
    1: 'BMW',
    2: 'Buick',
    3: 'Cadillac',
    4: 'Chevrolet',
    5: 'Chrysler',
    6: 'Dodge',
    7: 'Ford',
    8: 'Honda',
    9: 'Hyundai',
    10: 'Jeep',
    11: 'Kia',
    12: 'Lincoln',
    13: 'Mazda',
    14: 'Mercedes Benz',
    15: 'Mitsubishi',
    16: 'Nissan',
    17: 'Ram',
    18: 'Subaru',
    19: 'Toyota',
    20: 'None of the above'
})

In [24]:
data.zipcode = data.zipcode.replace({
    0: 'New England',
    1: 'Mid-Atlantic',
    2: 'East North Central',
    3: 'West North Central',
    4: 'South Atlantic',
    5: 'East South Central',
    6: 'West South Central',
    7: 'Mountain',
    8: 'Pacific'
})

In [26]:
data.brand = data.brand.replace({
    0: 'Acer',
    1: 'Sony'
})

In [28]:
data.to_csv("CompleteResponses_full.csv", index=False)